<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #term (keyup)="searchHospital(term.value)" type="text" class="form-control" placeholder="Search hospital"/>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="row animated fadeIn">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Loading</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x "></i>
      <br>
      <span>Wait, please</span>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <h3 class="card-title">Hospitals (<small>{{ totalHospitals }}</small>)</h3>
          </div>
          <div class="col-3">
            <button (click)="createHospital()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
              <i class="fa fa-plus"></i> Create hospital
            </button>
          </div>
        </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Photo</th>
                <th>Hospital</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitals">
                <th>
                  <img (click)="updateImage(hospital)" [src]="hospital.img | image: 'hospital'" class="w-50px pointer"/>
                </th>
                <th>
                  <input [(ngModel)]="hospital.name" type="text" name="name" />
                </th>
                <th>
                  <button (click)="saveHospital(hospital)" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                  </button>
                  <button (click)="deleteHospital(hospital)" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </th>
              </tr>
            </tbody>
          </table>
          <button (click)="changeSince(-5)" class="btn btn-secondary">Previous</button>
          <button (click)="changeSince(5)" class="btn btn-secondary">Next</button>
        </div>
    </div>
  </div>
</div>
