<div class="row">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">User profile</h4>
        <h6 class="card-subtitle">{{ user.name }}</h6>
        <form ngNativeValidate #form="ngForm" (ngSubmit)="saveProfile(form.value)" class="form p-t-20">
          <div class="form-group">
            <label for="exampleInputuname">User name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" [ngModel]="user.name" name="name" class="form-control" placeholder="Username" required>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="email" [ngModel]="user.email" [disabled]="user.google" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
            </div>
          </div>
          <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i> Save
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align="center">
        <h4 class="card-title">User photo</h4>
        <h6 class="card-subtitle">{{ user.name }}</h6>
        <img *ngIf="!imageTemporal" [src]="user.img | image" class="w-150">
        <img *ngIf="imageTemporal" [src]="imageTemporal" class="w-150">
        <input (change)="selectImage($event.target.files[0])" type="file" id="customFile" class="mt-10">
        <br><br>
        <button (click)="updateImage()" [disabled]="!imageUpload" type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
          <i class="fa fa-save"></i> Update Photo
        </button>
      </div>
    </div>
  </div>
</div>