<div class="row animated fadeIn">
  <div class="col-md-12 mb-4 text-right">
      <button routerLink="/doctors" class="btn btn-info waves-effect waves-light">View Doctors</button>
  </div>
</div>

<div class="row animated fadeIn">
  <div class="col-md-6">
    <div class="card card-body">
      <h3 class="box-title mb-3">DOCTOR {{doctor.name}}</h3>
      <div class="row">
        <div class="col -sm-12 col-xs-12">
          <form #form="ngForm" ngNativeValidate (ngSubmit)="saveDoctor(form)">
            <div class="form-group">
              <label>Name of doctor</label>
              <input [(ngModel)]="doctor.name" name="name" type="text" class="form-control" placeholder="Name of doctor" required>
            </div>
            <div class="form-group">
              <label>Hospital</label>
              <select (change)="changeHospital($event.target.value)" [(ngModel)]="doctor.hospital" name="hospital" class="form-control" required>
                <option value="" disabled selected>Select hospital</option>
                <option *ngFor="let hospital of hospitals" [value]="hospital._id">{{hospital.name}}</option>
              </select>
            </div>
            <button *ngIf="!doctor._id" type="submit" class="btn btn-block btn-success waves-effect waves-light"><i class="fa fa-save"></i> Create</button>
            <button *ngIf="doctor._id" type="submit" class="btn btn-block btn-success waves-effect waves-light"><i class="fa fa-edit"></i> Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-body">
      <h4 class="box-title mb-3">Hospital</h4>
      <img [src]="hospital.img | image:'hospital'" class="rounded pointer img-fluid">
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-body" *ngIf="doctor._id">
      <h4 class="box-title mb-3">Photo</h4>
      <img (click)="changePhoto()" [src]="doctor.img | image:'doctor'" class="img-circle pointer img-fluid">
    </div>
  </div>
</div>