<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Users</h4>
        <table *ngIf="users.length !== 0" class="table table-hover">
          <tbody>
            <tr *ngFor="let user of users" [routerLink]="['/users']" class="pointer">
              <td>
                <img [src]="user.img | image" class="w-50px img-circle">
              </td>
              <td>{{user.name}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="users.length === 0" class="alert alert-warning">
          There aren't users
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doctors</h4>
        <table *ngIf="doctors.length !== 0" class="table table-hover">
          <tbody>
            <tr *ngFor="let doctor of doctors" [routerLink]="['/doctor', doctor._id]" class="pointer">
              <td>
                <img [src]="doctor.img | image:'doctor'" class="w-50px img-circle">
              </td>
              <td>{{doctor.name}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="doctors.length === 0" class="alert alert-warning">
          There aren't doctors
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospitals</h4>
        <table *ngIf="hospitals.length !== 0" class="table table-hover">
          <tbody>
            <tr *ngFor="let hospital of hospitals" [routerLink]="['/hospitals']" class="pointer">
              <td>
                <img [src]="hospital.img | image:'hospital'" class="w-50px img-circle">
              </td>
              <td>{{hospital.name}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="hospitals.length === 0" class="alert alert-warning">
          There aren't hospitals
        </div>
      </div>
    </div>
  </div>
</div>