#themecolors a{
    cursor:pointer;
}
.c-secondary{
    color: #06d79c !important;
}
.c-white{
    color:white !important;
}
.pointer{
    cursor:pointer;
}
.w-150{
    width: 150px;
}
.mt-10{
    margin-top:10px;
}