#themecolors a{
    cursor:pointer;
}
.c-secondary{
    color: #06d79c !important;
}
.c-white{
    color:white !important;
}
.pointer{
    cursor:pointer;
}
.w-150{
    width: 150px;
}
.mt-10{
    margin-top:10px;
}
.w-50px{
    width: 50px;
}
.w-70px{
    width: 70px;
}
.background-black{
    background-color:rgba(0,0,0,0.4);
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.hidden{
    display: none
}